body{
	text-align: center;
}
a{
	text-decoration: none;
}
.container{
	border : 1px solid gray;
	text-align: center;
	margin-left:500px;
	margin-right:500px;
}
.container:after{
 content:""; clear:both; display:block; 
}
.content-left{
	border : 1px solid gray;
	float:left;
	/*width:440px;*/

}
.content-right{
	border : 1px solid gray;
	float:right;
	/*width:440px;*/
}
.content-top{
	border : 1px solid gray;

}
.content-bottom{
	border : 1px solid gray;
}
