.wrraper{
	margin-top:80px;
}
.bottom:after,.bottomdiv:after{ content:""; clear:both; display:block; }
.container{
	padding-top:30px;
	padding-bottom: 60px;
	background-color: #F7F7F7;
	width: 900px;
	margin:0 auto;
}
.top{
	width:500px;
	text-align: center;
	margin:0 auto;

}
.top .title{
	font-size: 1.8rem;
	margin-bottom: 5px;
}
.top .explain{
	font-size: 1.2rem;
}
.main{
	width:550px;
	margin:50px auto 0 auto;
	margin-top:50px;
	text-align: center;
}

.bottom,.bottomdiv,.titlediv,.descriptiondiv{
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;

}
.titlediv{
	margin-top:50px;
}
.tag,.main .title,.main .description{
	border:1px solid #EAEFDA;
	background-color: #EAEFDA;
	width: 95%;
}
.main .title{
	height: 40px;
}
.main .description{
	height: 100px;
	resize: none;
}
.bottomdiv{
	height: 40px;
}
.bottomdiv .areadiv{
	margin-left: 5px;
	float:left;
	width:80px;
	height: 30px;
}
.selectarea{
	border:1px solid #EAEFDA;
	background-color: #EAEFDA;
	width:100%;
	height: 115%;
}
.bottomdiv .tagdiv{
	margin-right: 5px;
	float:right;
	height: 30px;
	width: 220px;
}
.tag{
	height: 95%;
}
.bottom{
	margin-top: 150px;
}
.buttondiv{
	float:right;
}
.button{
	font-size: 1.2rem;
	width: 70px;
	background-color: #F7F7F7;
	border:1px solid #F7F7F7;
	color: #69A304;
}